<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<script>


var pc = null;

    function negotiate() {
        pc.addTransceiver('video', { direction: 'recvonly' });
        pc.addTransceiver('audio', { direction: 'recvonly' });
        return pc.createOffer().then((offer) => {
            return pc.setLocalDescription(offer);
        }).then(() => {
            // wait for ICE gathering to complete
            return new Promise((resolve) => {
                if (pc.iceGatheringState === 'complete') {
                    resolve();
                } else {
                    const checkState = () => {
                        if (pc.iceGatheringState === 'complete') {
                            pc.removeEventListener('icegatheringstatechange', checkState);
                            resolve();
                        }
                    };
                    pc.addEventListener('icegatheringstatechange', checkState);
                }
            });
        }).then(() => {
            var offer = pc.localDescription;
            return fetch('/offer', {
                body: JSON.stringify({
                    sdp: offer.sdp,
                    type: offer.type,
                }),
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'POST'
            });
        }).then((response) => {
            return response.json();
        }).then((answer) => { console.log(answer);
            return pc.setRemoteDescription(answer);
        }).catch((e) => {
            alert(e);
        });
    }
    
    function start() {
        var config = {
            sdpSemantics: 'unified-plan'
        };

        config.iceServers = [{ urls: ['stun:stun.l.google.com:19302'] }];
    
    
    
        pc = new RTCPeerConnection(config);
    
        // connect audio / video
        // pc.addEventListener('track', (evt) => {
        //     if (evt.track.kind == 'video') {
        //         document.getElementById('video').srcObject = evt.streams[0];
        //     } 
        // });
    
        pc.addEventListener('track', (evt) => {
                document.getElementById('video').srcObject = evt.streams[0];
        });

        pc.addEventListener('track', (evt) => {
                document.getElementById('video2').srcObject = evt.streams[1];
        });
    
        // document.getElementById('start').style.display = 'none';
        negotiate();
        // document.getElementById('stop').style.display = 'inline-block';
    }
    
    
    function get_streams() {
        console.log(pc)
    };
    // function stop() {
    //     document.getElementById('stop').style.display = 'none';
    
    //     // close peer connection
    //     setTimeout(() => {
    //         pc.close();
    //     }, 500);
    // }


    function stop() {
    // document.getElementById('stop').style.display = 'none';

    // close peer connection
    setTimeout(() => {
        pc.close();
        pc = null;
    }, 500);
}
    </script>


<body>
    Hello world

    <video id="video" autoplay="true" playsinline="true"></video>

    <video id="video2" autoplay="true" playsinline="true"></video>
<button onclick="start()">Start</button>

<button onclick="get_streams()">get stream</button>

<button id="stop" onclick="stop()">Stop</button>
</body>
</html>