<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/static/client_test.js" defer></script>
</head>

<body>

    <video id="video" autoplay="true" playsinline="true"></video>

    <video id="video2" autoplay="true" playsinline="true"></video>
<button onclick="start()">Start</button>

<button onclick="get_streams()">get stream</button>

<button id="stop" onclick="stop()">Stop</button>
</body>
</html>